.story-container{
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

a{
  font-family: 'Libre Baskerville', serif;
  color: black;
  text-decoration: none;
  font-size: 40px;
}

p{
  font-family: 'Libre Baskerville', serif;
  color: black;
}

.counter{
  bottom: 0px;
  right: 10px;
  position: absolute;
}

.central-image{
  position:absolute;
  top: 40%;
  left: 45%;
}
