.full-screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: none;
}

.visible {
  display: block;
}

.empty-container {
  width: 100%;
  height: 100%;
}

.empty-message {
  text-align: center;
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.story-link {
  text-align: center;
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.empty-message p {
  text-decoration: none;
  font-size: 40px;
}

a {
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  font-size: 40px;
  color: inherit;
}

p {
  font-family: 'Libre Baskerville', serif;
}

.counter {
  position: absolute;
  right: 5px;
  bottom: 0px;
}

.central-image {
  position: absolute;
  top: 40%;
  left: 45%;
}

.title {
  position: absolute;
  top: 0px;
  left: 10px;
}

.title h1 {
  font-family: 'Libre Baskerville', serif;
}
